/* styles.css */

img {
    height: 200px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* This will center your images horizontally */
    align-items: center; /* This will center your images vertically */
  }
  
  .profile-image {
    margin: 10px; /* Add space around images */
  }
  