/* Analyze.module.css */

.analyzeSection {
    display: flex;
    justify-content: center; /* Center children horizontally */
    align-items: center;
    width: 100%; /* Allow the section to be responsive */
    max-width: 1500px; /* Limit the maximum width */
    background: #F8F8F8;
    margin-top: 64.33px;
    margin-left: auto; /* Center the section horizontally */
    margin-right: auto; /* Center the section horizontally */
    padding-top: 32px; /* Padding for top */
}

.greyBgContent {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center children horizontally */
    width: 100%;
    max-width: 1500px; /* Max-width for content, not background */
    margin: auto; /* Center the content container */
}

.analyzeText {
    color: var(--black, #000);
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 125% */}

.promptIconContainer {
    display: flex;
    justify-content: space-between; /* separate the left and right */
    margin-top: 39px;
}

.analyzePrompt, .analyzeIconContainer {
    display: flex;
    align-items: center; /* Align items in the center vertically */
}

.analyzePrompt {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #7B7B7B;
}

.promptResult {
    color: #000;
}

.analyzeIconContainer {
    margin-right: 5px;
}

.analyzeIcon {
    margin-left: 19px; /* Add some space between the icons */
}

.analyzeIcon:hover {
    cursor: pointer;
}

@media screen and (max-width: 1090px) {
    .greyBgContent {
        flex-direction: column; /* Stack children vertically */
    }
    
    .analyzeContent {
        margin-left: 15px;
    }
}
