/* Category.module.css */

.buttonContainer {
    display: flex;
    justify-content: center; /* horizontally centered */
    margin-top: 2.5vh; /* Use viewport height units for relative spacing */
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.buttonContainer button {
    min-width: 150px; /* Set a minimum width to ensure readability */
    width: 100%; 
    max-width: 192px; /* Maximum width */
    height: 48px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border: 1px solid #A4ACA8;
    background-color: #F8F8F8;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonContainer button:hover {
    background-color: #f0f0f0;
}

.buttonContainer button.selected {
    background-color: #FB9600;
    color: white;
    border-color: #FB9600;
}

@media screen and (max-width: 768px) {
    .buttonContainer {
        flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    }

    .buttonContainer button {
        width: 200px; /* Allow buttons to adjust their width automatically */
        padding: 10px; /* Adjust padding */
        font-size: 0.9rem; /* Adjust font size */
    }
}