/* Footer.module.css */

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #222222;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 69px;
    position: relative;
}

.leftFrame {
    margin: 20px;
    margin-left: 46px;
    width: 100%;
    max-width: 458px;
}

.firstLine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    padding: 0;
}

.title1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #A4ACA8;
    margin-right: 30px;
}

.firstLineItem {
    white-space: nowrap;
    margin: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #F7FCFA;
}

.spacing1 {
    height: 20px;
}

.secondLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 26px;
    flex-wrap: wrap;
}

.secondLineItem1, .secondLineItem2 {
    white-space: nowrap;
    margin: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #797B7B;
}

.rightFrame {
    margin: 20px;
    margin-left: 46px;
    width: 100%;
    max-width: 458px;
}

.signup {
    width: 100%;
    height: 32px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #F7FCFA;
    text-align: left;
}

.emailContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;
}

.enterEmail {
    width: 100%;
    max-width: 280px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #797B7B;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #797B7B;
}

.enterEmail:focus {
    outline: none;
}

.emailButton {
    padding: 11px 22px 11px 22px;
    gap: 10px;
    margin-right: 64px;
    border-radius: 30px;
    border: 1px solid #797B7B;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    color: #797B7B;
}

.spacing2 {
    display: none;
    margin-left: 124px;
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .footerContainer {
        flex-wrap: nowrap;
    }

    .leftFrame, .rightFrame {
        width: 50%;
        max-width: none;
    }

    .spacing1, .spacing2 {
        display: block;
    }
}
