/* Header.module.css */

.navBar {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between; /* Keep the left and right tabs separated */
    padding-left: 10vw; /* Use viewport width for relative padding */
    padding-right: 10vw; /* Use viewport width for relative padding */
    border-bottom: 1px solid #DEE4E1;
    height: 64px;
    width: 100%; /* Allow the navbar to stretch and fill the width */
    box-sizing: border-box; /* Include padding in the width calculation */
}

.leftTabs, .rightTabs {
    display: flex;
    align-items: center; /* Align items in the center vertically */
}

.navItem, .navWeaudit, .navOuro{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    font-weight: 400;
}

.navItem {
    color: #7B7B7B;
}

.navWeaudit {
    font-weight: 700;
    color: #000000;
}

.navOuro {
    font-weight: 600;
    color: #606060;
}

.navIcon {
    margin-left: 127px;
}

@media screen and (max-width: 670px) {
    .navBar {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navIcon {
        margin-left: 0;
    }
}