/* HomeButton.module.css */

.container_ouroboros,
.container_discussion {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: flex-start; /* Align items to the left */
  width: 321px;
  height: 80px;
  position: relative; /* No need to change this */
}

.container_ouroboros a,
.container_discussion a {
  text-decoration: none;
}

.container_ouroboros {
  background-color: black;
}

.container_discussion {
  background-color: white;
  border: 1px solid black;
}

.text_ouroboros,
.text_df {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin-left: 10px;
  text-decoration: none;
}

.text_ouroboros {
  color: white;
}

.text_df {
  color: black;
}

.icon {
  margin-left: 48px;
  margin-top: 5px;
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.icon_df {
  margin-left: 46px;
  margin-top: 10px;
  flex-shrink: 0; /* Prevent icon from shrinking */
}
