/* HomeDescription.module.css */

.imageBox {
    display: flex;
    align-items: left;
    width: 766px;
    height: 76px;
    background: white;
    /* margin-top: 48px; /* space from category button */
    /* padding-left: 10px; */ 
  }
  
  .imageBoxText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: black;
    margin-left: 10px; /* Spacing between icon and text */
    margin-top: 8px;
  }
  
  .lightBulb {
    margin-left: 8px;
    margin-top: 15px;
    flex-shrink: 0; /* Prevent icon from shrinking */
  }
  

  