/* HomeDescription.module.css */

.imageBox {
    display: flex;
    width: 56vw;
    height: 10vh;
    background: white;
    /* margin-top: 48px; /* space from category button */
  }
  
  .imageBoxText {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.6vh;
    color: black;
    margin-left: .7vw; /* Spacing between icon and text */
    margin-top: 1vh;
  }
  
  .lightBulb {
    margin-left: .7vw;
    margin-top: 2vh;
    /* flex-shrink: 0; Prevent icon from shrinking */
  }
  

  