/* imageGrid.module.css */

.imageBox {
  display: flex;
  align-items: center;
  width: 768px;
  height: 64px;
  background: #EDEDED;
  margin-top: 48px; /* space from category button */
  padding-left: 10px;
}

.imageBoxText {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600; /* Bold text */
  line-height: 22px;
  color: #676767;
  margin-left: 16px; /* Spacing between icon and text */
}

.lightBulb {
  flex-shrink: 0; /* Prevent icon from shrinking */
}

.imageGrid {
  display: grid;
  width: 762px;
  height: 763px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0; /* no gap between images */
  margin-top: 48px; /* space from imageBox */
}

.imageCell {
  width: 100%; /* image with full width of its grid cell */
  height: 100%; /* image with full height of its grid cell */
  object-fit: cover; /* images cover the cell without distortion */
}
