/* SearchBar.module.css */

.searchContainer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align children to the start of the flex container */
  position: relative;
  margin-top: 253px; /* Space from the header */
  margin-left: 100px;
}

.generateLabel {
  color: var(--black, #000);
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.inputAndButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBar {
  flex-grow: 0.895; /* Allow search bar to grow and fill 0.895 of container */
  height: 64px;
  border: 1px solid #A4ACA8;
  background: #FFF;
  margin-top: 58.67px;
  padding-left: 30px; /* For starting position of the placeholder text */
}

.searchBar::placeholder {
  color: #C9C9C9;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.searchButton {
  width: 179px;
  height: 65px;
  margin-left: 13px; /* Space between search bar and button */
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #FFF;
  border: none;
}

.searchButtonText {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.searchButton:hover {
  background-color: #333333; /* Darker background on hover */
}

.sdButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #F5F5F5;
  width: 135.13px;
  height: 42.67px;
  border: none;
}

.sdButtonText {
  transform: rotate(0.333deg);
  color: var(--Gray-2, #797B7B);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.sdButton:hover {
  background-color: #333333; /* Darker background on hover */
}
